# Project place file
/*.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

builds
*.sublime-workspace
*.rbxl.lock
node_modules
roblox.toml
roblox.yml
dist
sourcemap.json
package-lock.json
.DS_Store